html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .center {
        width: full;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper {
        border-color: slate-500;
        border-width: 2px;
        padding: 80px 200px;
    }
    .form-wrapper {
        display: flex;
        flex-direction: column;
        padding: 10px;
        min-width: 20rem;
    }
    .common-btn {
        color: #fff;
        background-color: #4f46e5;
        padding: 0.5rem 1.25rem;
        margin: 1.5rem 2.75rem;
        border-radius: 4px;
    }
}
